.icon-coll-compound_trigger {
  background-image: url('{{ url_for('static', filename='assets/cdeadmin/objects/coll-compound_trigger.svg' )}}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-compound_trigger {
  background-image: url('{{ url_for('static', filename='assets/cdeadmin/objects/compound_trigger.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-compound_trigger-bad {
  background-image: url('{{ url_for('static', filename='assets/cdeadmin/objects/compound_trigger-bad.svg') }}') !important;
  background-size: 20px !important;
  border-radius: 10px
}
