{% if known %}
<p>{{ _('Your browser was detected as <strong>{0}</strong> version
    <strong>{1}</strong>, which is either deprecated or not supported by
    CDEadmin.').format(browser, version) }}</p>
{% else %}
<p>{{ _('Your browser was detected as <strong>{0}</strong> version
    <strong>{1}</strong>, which CDEadmin has not been tested with. CDEadmin may
    not work as expected, and any issues reported when using this browser may
    not be fixed.').format(browser, version) }}</p>
{% endif %}
<p>{{ _('Consult the CDEadmin documentation for the supported browser policy.') }}</p>
