.icon-coll-trigger {
  background-image: url('{{ url_for('static', filename='assets/cdeadmin/objects/coll-trigger.svg' )}}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-trigger {
  background-image: url('{{ url_for('static', filename='assets/cdeadmin/objects/trigger.svg') }}') !important;
  background-repeat: no-repeat;
  background-size: 20px !important;
  align-content: center;
  vertical-align: middle;
  height: 1.3em;
}

.icon-trigger-bad {
  background-image: url('{{ url_for('static', filename='assets/cdeadmin/objects/trigger-bad.svg') }}') !important;
  background-size: 20px !important;
  border-radius: 10px
}
